.album {
  margin: 15px;
  border: 1px rgb(247, 53, 53);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    max-height: 400px;
  }

  &__text {
    color: rgb(255 255 255 / 66%);
  }

  &__button {
    margin-top: 5px;
    width: 35px;
    height: 20px;
    font-size: 14px;
    background-color: rgb(120 123 130);
    box-shadow: 5px 5px 22px 2px rgba(199, 199, 199, 0.26);
    color: aliceblue;
  }
}
