.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(0, 0, 0);
  height: 45px;
  background-color: rgb(156 158 164 / 70%);
  flex: 0 0 auto;
  margin: 0 20px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  &__tg,
  &__inst,
  &__vk {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.tg__img,
.vk__img,
.inst__img {
  height: 30px;
}
